---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mí"
	description="¿Quién soy?"
	pubDate={new Date('October 01 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Soy estudiante en 42 Telefónica Málaga y cuento con una sólida formación en Ingeniería en Tecnologías Industriales. 
		Actualmente, curso el MOOC de Ciberseguridad de la Universidad de Málaga.
	</p>

	<p>
		Me especializo en ciberseguridad y estoy preparándome la certificación eCPPT. Cuento con más de un año de experiencia en el análisis de 
		vulnerabilidades y el pentesting, validada por la certificación eJPT de INE y por los laboratorios prácticos y ‘paths’ de TryHackMe.
	</p>

	<p>
		Trabajo de Formador de Competencias Digitales, promoviendo la ciberseguridad, la alfabetización digital y el impulso profesional. 
		Tengo experiencia en lenguajes de programación como C, C++, ensamblador, SQL y scripting con Python.
	</p>

	<p>
		Mi perfil se caracteriza por una fuerte capacidad de resolución de problemas y una creciente pasión por el análisis de seguridad informática.
	</p>

</Layout>
